@import "tailwindcss";

@theme {
  --color-primary: #3730a3;
  --color-primary-light: #6366f1;

  --color-success: #10b981;

  --color-background: #f8fafc;

  --radius-card: 1rem;
}

html {
  background: #f8fafc;
}

body {
  font-family: "Inter", "Vazirmatn", sans-serif;
  background: #f8fafc;
  color: #111827;
}
.perspective {
 perspective: 1000px;
}


.rotate-y-180 {
 transform: rotateY(180deg);
}


.rotate-y-180 {
 backface-visibility: hidden;
}